@import 'breakpoints';

.kbcki-container {
    background: #FBFBFB;
    min-height: 100vh;

    display: flex;

    @include for-desktop {
        flex-direction: row;
    }

    @include for-tablet {
        flex-direction: column;
        margin-top: 48px;
    }

    @include for-mobile {
        flex-direction: column;
        margin-top: 36px;
    }
}
