@import 'breakpoints';

.kbcki-content {
    padding: 32px;
    overflow: auto;
    max-height: calc(100vh - 32px);
    box-sizing: border-box;
    margin: 16px;

    @include for-mobile {
        padding-bottom: 100px;
    }

}
