@import 'breakpoints';
@import 'colors';

@mixin two-columns {
    &--left {
        left: 0;
        background: $color-primary;
    }

    &--right {
        right: 0;
        background: $color-background;
    }
}

@mixin one-column {
    &--left {
        left: 0;
        width: 0;
    }

    &--right {
        right: 0;
        width: 100vw;
        background: $color-background;
    }
}

.kbcki-two-sided-bg-container {

    &__content {
        max-width: 1200px;
        margin: auto;
        position: relative;
        z-index: 1;
    }

    &__bg-pane {
        position: fixed;
        top: 0;
        width: 50vw;
        height: 100vh;

        @include for-desktop {
            @include two-columns;
        }

        @include for-tablet {
            @include one-column;
        }

        @include for-mobile {
            @include one-column;
        }

    }

}
